.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "header left-box"
                        "right-box"
  grid-template-rows: 100px 300px;
  align-self: center;
}
.left-box {
  background-image: url(../images/mountain.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all .2s ease-in-out;
  width: 100vw;

}
